/*Contact CSS */
 
header {
	margin: 0px;
}

html, body {
	/*Setting up a responsive viewport*/
	min-height: 100%;
}
  
body {
	/*Setting up a responsive viewport*/
	min-height: 100%;
	margin: 0;
}
  
.container{
	/*Setting up a responsive viewport*/
    width: 100%;
	min-height: 100vh;
    margin: 0px;
	display: flex;
}

.contact-box{
	/* setting up a flex box for the left and right side, instead of using
	floats */
    background: #fff;
    display: flex;
	height: 100%;
	flex: 1; 
	align-items: stretch;
	min-height: 100vh;
	/* flex-flow: wrap; */
}

.title-left{
	/* the Reach Us side*/
    flex-basis:30%;
    padding: 2.5rem;
	min-height: 100%;
	background: #34444C;
    color: #fff;
}

.title-right{
	/* the Send Us a Message side*/
    flex-basis:70%;
    padding: 2.5rem 3.75rem;
	height: 100%;
}

.title-right h3{
	/*styling the headers*/
    color: #34444C;
    font-weight: 600;
    margin-bottom: 2rem;
}

.title-left h3{
	/*styling the headers*/
    font-weight: 600;
    margin-bottom: 2rem;
}

.input-row{
	/*setting up the forms*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.input-row .input-group{
	/*setting up the forms*/
    flex-basis: 45%;
}

input{
	/*setting up the forms*/
    width: 100%;
    border: none;
    border-bottom: 0.05rem solid #ccc;
    border-right: 0.05rem solid #ccc;
    outline: none;
    padding-bottom: 0.5rem;
}

label{
	/*setting up the forms*/
    margin-bottom: 0.3125rem;
    display: block;
    color: #34444C;
}

textarea{
	/* the text area for the big message on the bottom */
    width:100%;
    border: 0.05rem solid #ccc;
    outline: none;
    padding: 0.625rem;
    box-sizing: border-box;
}

button{
	/*pretty self-explanatory lol*/
    background: #0decfc;
    width: 6.25rem;
    border: none;
    outline: none;
    color: #4c4c4c;
    height: 2rem;
    border-radius: 2rem;
    margin-top: 1.25rem;
    box-shadow: 0rem 0.3125rem 1rem 0rem rgba(28,0,181,0.3);
}

tr td{
	/* the table on the left */
    padding-top: 5rem;
}

tr td:first-child{
	/* the table on the left */
    padding-right: 5rem;
}





/* Responsive CSS */ /*Contact page*/
@media (max-width: 992px) {

	.contact-box {
		flex-direction: column; 
	}
	
	.title-left,
	.title-right {
		flex-basis: 100%; 
		padding: 2.5rem;
	}
	
	.input-row {
		flex-direction: column; 
		margin-bottom: 1rem;
	}
	
	.input-row .input-group {
		flex-basis: 100%; 
		padding-bottom: 1rem;
	}
	input{
		width: 100%;
	}

	textarea {
		width: 100%;
	}
	
	.title-left {
		height:50%;
	}

	table {
		table-layout: auto;
		max-width: 100%;
	}
	tr td{
		padding-top: 0.5rem;
		
	}

	tr td:first-child{
		padding-right: 4rem;
	
	}
}

@media (max-width: 576px) {
	.contact-box {
		flex-direction: column; 
	}
	
	.title-left,
	.title-right {
		flex-basis: 100%; 
		padding: 2.5rem;
	}
	
	.input-row {
		flex-direction: column; 
		margin-bottom: 1rem;
	}
	
	.input-row .input-group {
		flex-basis: 100%; 
		padding-bottom: 1rem;
	}
	input{
		width: 100%;
	}

	textarea {
		width: 100%;
	}
	
	.title-left {
		height:50%;
	}

	table {
		table-layout: auto;
		max-width: 100%;
	}
	tr td{
		padding-top: 0.5rem;
		
	}

	tr td:first-child{
		padding-right: 4rem;
	
	}
	}


