@charset "utf-8";
/* Master CSS*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter Medium", "Inter Light"
}

body {
	height: 100vh;
	background-color: #ECEFF1;
	background-size: cover;
	background-position: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1rem;
}

li img {
	width: 35px;
	height: 25px
}

a:hover {
	color: steelblue;
}

header {
	position: relative;
	padding: 0 35px;
	background: #34444C;
	margin-bottom: 0rem;
}

.title {
	margin: auto auto;
	height: 4rem;
}

.title h1 {
	margin: auto auto;
	font-size: 24px;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.navbar {
	width: 100%;
	height: 75px;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .hamburger {
	color: #FFFFFF;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.loginbtn {
	background-color: steelblue;
	color: #FFFFFF;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale 0.2 ease;
}

.loginbtn:hover {
	scale: 1.05;
	color: #FFFFFF;
}

.loginbtn:active {
	scale: 0.95;
}

/* Content */

/* Downdown Menu */
.dropdown-menu {
	position: absolute;
	right: 2rem;
	top: 60px;
	height: 0px;
	width: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu open {
	height: 250px;
}

.dropdown-menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.dropdown-menu .hamburger {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* Responsive CSS */
@media(max-width: 992px) {
	.navbar .links,
	.navbar .loginbtn {
		display: none;
	}
	
	.navbar .hamburger {
		display: block;
	}
	
	.dropdown-menu {
		display: block;
	}
}
	
@media(max-width: 576px) {
	header {
		height: 15%;
	}
	
	
	.dropdown-menu {
		left: 2rem;
		width: unset;
	}
}








/* The Contact Us Page CSS */
 
.container{
    width: 100%;
	height: 100vh;
    margin: 0px;

}

.contact-box{
    background: #fff;
    display: flex;
	height: 100vh;
}

.title-left{
    flex-basis:30%;
    padding: 2.5rem;
    background: #34444C;
    color: #fff;
	height: 100vh;

}

.title-right{
    flex-basis:70%;
    padding: 2.5rem 3.75rem;
	height: 100vh;
}
/*
h1{
    margin-bottom: 10px;
}

.containter p{ 
    margin-bottom: 10px;
}
*/


.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 0.05rem solid #ccc;
    border-right: 0.05rem solid #ccc;
    outline: none;
    padding-bottom: 0.5rem;
}

textarea{
    width:100%;
    border: 0.05rem solid #ccc;
    outline: none;
    padding: 0.625rem;
    box-sizing: border-box;
}

label{
    margin-bottom: 0.3125rem;
    display: block;
    color: #34444C;
}

button{
    background: #0decfc;
    width: 6.25rem;
    border: none;
    outline: none;
    color: #4c4c4c;
    height: 2rem;
    border-radius: 2rem;
    margin-top: 1.25rem;
    box-shadow: 0rem 0.3125rem 1rem 0rem rgba(28,0,181,0.3);
}

.title-right h3{
    color: #34444C;
    font-weight: 600;
    margin-bottom: 2rem;
}

.title-left h3{
    font-weight: 600;
    margin-bottom: 2rem;
}

tr td:first-child{
    padding-right: 25rem;

}
tr td{
    padding-top: 25rem;
    
}