
/*
.title{
    position: relative;
	max-width: fit-content;
	background: #34444C;
    margin-top: 3rem;
	margin-bottom: 3rem;
    display: flex;
    align-items: center;
    border-radius: 50px;
    
    height: 3em;
}

.title h1 {
	margin: 0.8rem;
	font-size: 40px;
	text-align: center;
	font-weight: lighter;
	color: white;
}


.container {
    display: flex;
    height: 100vh;
    max-width: 60rem;
}

#homepageButtons {
    display: flex;
    flex-direction: column;
    align-content: center;
	max-width: 60rem;
    text-align: center;
}

.buttonRows {
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-buttons{
    padding: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
    background: #34444C;
    margin-top: 0.75rem;
	margin-bottom: 0.75rem;
    border-radius: 50px;

   
	font-size: 24px;
	font-weight: lighter;
	color: white;

   
}
.flex-buttons2 {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    max-width: fit-content;
    background: #34444C;
    margin-top: 0.75rem;
	margin-bottom: 0.75rem;
    
    align-items: center;
    border-radius: 50px;

   
	font-size: 24px;
	font-weight: lighter;
	color: white;
    
}
*/




/* Hover Code*/
a:hover {
	color: steelblue;
}

.title{
	background: #34444C;
    border-radius: 3rem;
    height: 3rem;
    width: 15rem;
    width: 100%;
    
    margin-bottom: 5rem;
}
.title h1 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
    
}



.container {
    width: 100%;
    height: 100vh;
    margin: auto auto;
    
    display: flex;
    align-items: center;
}

.container-box{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content:center;

    vertical-align: middle;
}

.top{
    float: top;
    align-items: center;
    margin: auto;
    width: 95%;
    
}
.bottom{
    float: bottom;
    align-items: center;
    margin: auto;
    width: 95%;
}

.topButtons{
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;

    background: #34444C;
    font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
    border-radius: 1.5rem;

    
}

.buttonRows{
    display: flex;
    
    justify-content: space-between;
    flex-direction: rows;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.botButtons{
    flex-basis: 47.5%;
    text-align: center;
    margin-bottom: 0em;
    margin: auto;

    background: #34444C;
    font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
    border-radius: 1.5rem;
}

.botButtons a {
	font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.botButtons a:hover{
    color: steelblue;
}

.topButtons a {
	font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.topButtons a:hover{
    color: steelblue;
}


@media(max-width: 992px) {
	.container-box {
		width: 80%;
	}
}


@media(max-width: 576px) {
	.container-box {
		width: 80%;
	}
}
