

.title{
    position: relative;
	max-width: fit-content;
	background: #34444C;
    margin-top: 3rem;
	margin-bottom: 3rem;
    display: flex;
    align-items: center;
    border-radius: 50px;
    
    height: 3em;
}

.title h1 {
	margin: 0.8rem;
	font-size: 40px;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.container {
    display: flex;
    height: 100vh;
    max-width: 60rem;
}

#homepageButtons {
    display: flex;
    flex-direction: column;
    align-content: center;
	max-width: 60rem;
    text-align: center;
}

.buttonRows {
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-buttons{
    padding: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
    background: #34444C;
    margin-top: 0.75rem;
	margin-bottom: 0.75rem;
    border-radius: 50px;

   
	font-size: 24px;
	font-weight: lighter;
	color: white;

   
}
.flex-buttons2 {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    max-width: fit-content;
    background: #34444C;
    margin-top: 0.75rem;
	margin-bottom: 0.75rem;
    
    align-items: center;
    border-radius: 50px;

   
	font-size: 24px;
	font-weight: lighter;
	color: white;
    
}





/* Hover Code*/
a:hover {
	color: steelblue;
}