/*Contact page CSS*/


.container {
    /*A container that centers the container box */
    width: 100%;
    height: 100vh;
    margin: auto auto;

    display: flex;
    align-items: center;
    position: relative;

   
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/cyberswarm.gif');
    z-index: -1;
}
.container-box{
    /*A container that makes a flex box for the title and buttons*/
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content:center;
    vertical-align: middle;
}

.top{
    /*container for the long buttons on the top*/
    float: top;
    align-items: center;
    margin: auto;
    width: 95%;
    
}

.bottom{
    /*container for the short buttons on the bottom*/
    float: bottom;
    align-items: center;
    margin: auto;
    width: 95%;
}

.title{
    /* styling the title*/
	background: #34444C;
    border-radius: 3rem;
    height: 3rem;
    width: 15rem;
    width: 100%;
    
    margin-bottom: 5rem;
}

.title h1 {
    /* styling the title*/
	font-size: 2.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.topButtons{
    /*style for the long buttons on the top*/
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;

    background: #34444C;
    font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
    border-radius: 1.5rem;

    
}

.buttonRows{
    /*to make rows for the short buttons on the bottom*/
    display: flex;
    
    justify-content: space-between;
    flex-direction: rows;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.botButtons{
    /*styling for the short buttons on the bottom*/
    flex-basis: 47.5%;
    text-align: center;
    margin-bottom: 0em;
    margin: auto;

    background: #34444C;
    font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
    border-radius: 1.5rem;
}

.botButtons a {
    /*styling for the links*/
	font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.botButtons a:hover{
    /*styling for the links*/
    color: steelblue;
}

.topButtons a {
    /*styling for the links*/
	font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.topButtons a:hover{
    /*styling for the links*/
    color: steelblue;
}


/*Responsive CSS for mobile Users*/
@media(max-width: 992px) {
	.container-box {
		width: 80%;
	}
}

@media(max-width: 576px) {
	.container-box {
		width: 80%;
	}
}
