@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;;
}

a:hover {
	transform: translate(0, -10px);
}

.mainbody {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.vl {
	padding: 15px;
	float: left;
	border: 0px;
	border-left: 3px;
	border-style: solid;
	height: 500px;
}

.article {
	display: flex;
	align-items: flex-start;
	margin: 1rem 0 2rem;
	width: 100%;
	padding: 0.5rem;
	background-color: #34444C;
	border-radius: 1rem;
}

.article-thumbnail img{
	width: 20rem;
	height: 12.5rem;
	margin-right: 1rem;
	border-radius: 8px;
}

.article-text h2 {
	font-weight: 500;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.article-text p {
	font-weight: 500;
	font-size: 0.76rem;
}

@media(max-width: 576px) {
	.article {
		flex-direction: column;
		align-items: center;
	}
	
	.article-thumbnail img{
		margin-right: 0rem;
	}
}
