@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;;
}

#main-content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1664px;
	margin: 0 auto;
	padding: 0 1rem;
}

.article {
	margin-right: 1rem;
  	margin-left: 1rem;
}

.article-title {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-weight: 700;
	line-height: 1;
}

.article-subtitle {
	margin-top: 1rem;
  	opacity: .75;
  	font-size: 1rem;
  	font-weight: 500;
}

.article-content {
	max-width: 90%;
}

p {
	margin: 16px;
	font-size: 1rem;
}

ul p{
	margin-left: 2rem;
}

ul h3 {
	font-size: 1.25rem;
	font-weight: 500;
}

.levels img{
	height: 18rem;
	width: 26rem;
}

.line {
	margin-right: -0.5rem;
	margin-bottom: 0.5rem;
	padding: 15px;
	float: left;
	border: 0px;
	border-left: 3px;
	border-style: solid;
	height: 1760px;
}

@media(max-width: 1038px) {
	.levels img {
		height: 14rem;
		width: 25rem;
	}
	.line {
		height: 1580px;
	}
}

@media(max-width: 992px) {
	.levels img {
		height: 12rem;
		width: 22rem;
	}
	.line {
		height: 1490px;
	}
}

@media(max-width: 917px) {
	.levels img {
		height: 12rem;
		width: 22rem;
	}
	.line {
		height: 1595px;
	}
}

@media(max-width: 800px) {
	.levels img {
		height: 14rem;
		width: 26rem;
	}
	.line {
		height: 2580px;
	}
}

@media(max-width: 755px) {
	.levels img {
		height: 12rem;
		width: 22rem;
	}
	.line {
		height: 2415px;
	}
}

@media(max-width: 651px) {
	.levels img {
		height: 12rem;
		width: 22rem;
	}
	.line {
		height: 2430px;
	}
}

@media(max-width: 568px) {
	.levels img {
		height: 12rem;
		width: 18rem;
	}
	.line {
		height: 2675px;
	}
}

@media(max-width: 453px) {
	.levels img {
		height: 8rem;
		width: 14rem;
	}
	.line {
		height: 2725px;
	}
}
