@charset "utf-8";
/* CSS Document */
.sidebar {
	margin-left: 25px;
	border: 3px;
	border-color: #6E6E6E;
	border-style: solid;
	background-color: #6E6E6E;
	width: 375px;
	height: 500px;
	display: block;
	float: right;
}

.articlepreview {
	background-color: #575757;
	width: 100%;
	height: 100%;
	max-width: 375px;
	max-height: 100px;
	border: 1px;
	margin: 0px 0px 0px 0px;
}

.articlepreview img {
	width: 75px;
	height: 75px;
	float: left;
	margin: 12px 0px 0px 5px;
}

.articlepreview h3 {
	font-weight: lighter;
	font-size: 14px;
	padding-left: 90px;
	padding-top: 12px;
}

.articlepreview h2{
	font-weight: lighter;
	font-size: 18px;
	padding-left: 90px;
}

.vl {
	padding: 15px;
	float: left;
	border: 0px;
	border-left: 3px;
	border-style: solid;
	height: 500px;
}

.article {
	padding: 5px;
	margin-top: 50px;
	margin-left: 200px;
}

.article h3 {
	font-size: 18px;
}

.article h2 {
	font-size: 28px;
}

.article p {
	padding: 8px;
	font-size: 16px;
}

.article li {
	margin-left: 50px;
	list-style: circle;
}

