.description {
	margin: auto auto;
	padding: 1rem 5.5rem;

}

.description p{
	width:1100px
}

.tutorial {
	padding: 3rem 5.5rem;
	width:1000px;
}

.towers{
	padding: 0rem 8rem;
	width: 1050px;
}

.grunts{
	padding: 0rem 8rem;
	width: 1050px;
}

.bosses{
	padding: 0rem 8rem;
	width: 1050px;
}

.box {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -57.5rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 23%;
	height: 25%;
	padding: 1rem;
	border-radius: 8px;
}

.towerbox {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -30.5rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 41%;
	height: 15%;
	padding: 1rem;
	border-radius: 8px;
}


.gruntbox {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -20rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 41%;
	height: 15%;
	padding: 1rem;
	border-radius: 8px;
}

.bossbox {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -9.7rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 22%;
	height: 15%;
	padding: 1rem;
	border-radius: 8px;