description {
	margin: auto auto;
	padding: 1rem 5.5rem;

}

.description p{
	width:1100px
}

.tutorial {
	padding: 3rem 5.5rem;
	width:1000px;
}

.towers{
	padding: 0rem 8rem;
	width: 1050px;
}

.grunts{
	padding: 0rem 8rem;
	width: 1050px;
}

.bosses{
	padding: 0rem 8rem;
	width: 1050px;
}

.box {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -45rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 23%;
	height: 25%;
	padding: 1rem;
	border-radius: 8px;
}

.towerbox {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -30.5rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 41%;
	height: 15%;
	padding: 1rem;
	border-radius: 8px;
}


.gruntbox {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -20rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 41%;
	height: 15%;
	padding: 1rem;
	border-radius: 8px;
}

.bossbox {
	background-color: #7f878a;
	float: right;
	display: block;
	margin: -9.7rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	width: 22%;
	height: 15%;
	padding: 1rem;
	border-radius: 8px;
}

.big-robot{
	position: absolute;
	top:-205px;
	right:500px;
}

.ant {
	position: absolute;
	top:556px;
	right:610px;
}


.water-bug{
	position:absolute;
	top: 20px;
	left: 128px;
	
}

.final-boss{
	position:absolute;
	top: 2px;
	left: 140px;
}

.cockroach{
	position: absolute;
	top: 20px;
	left: 90px;
}

.camo{
	position: absolute;
	top:25px;
	left: 90px;
}

.beetle{
	position: absolute;
	top: -12px;
	left: 90px;
}

.drill{
	position: absolute;
	top:3px;
	left: 110px;
}

.explode {
	position: absolute;
	top:2px;
	left: 110px;
}

.basic {
	position: absolute;
	top: -160px;
	right: 620px;
}

.missile {
	position: absolute;
	top:10px;
	left: 100px;
}

.cryo{
	position: absolute;
	top:5px;
	left:130px;
}

.mine{
	position: absolute;
	top:5px;
	left: 125px;
}

.command{
	position: absolute;
	top: -5px;
	left: 110px;
}

.fire {
	position: absolute;
	top: 2px;
	left: 110px;
}

.queen-ant {
	position: absolute;
	top: 170px;
	left: 310px;