@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;;
}

#main-content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1664px;
	margin: 0 auto;
	padding: 0 1rem;
}

.article {
	margin-right: 1rem;
  	margin-left: 1rem;
}

.article-title {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-weight: 700;
	line-height: 1;
}

.article-subtitle {
	margin-top: 1rem;
  	opacity: .75;
  	font-size: 1rem;
  	font-weight: 500;
}

.article-content {
	max-width: 90%;
}

p {
	margin: 16px;
	font-size: 1rem;
}

.vl {
	margin-right: -0.5rem;
	padding: 15px;
	float: left;
	border: 0px;
	border-left: 3px;
	border-style: solid;
	height: 700px;
}
