@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	height: 100vh;
	background-color: #ECEFF1;
	background-size: cover;
	background-position: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1rem;
}

li img {
	width: 35px;
	height: 25px
}

a:hover {
	color: steelblue;
}

header {
	position: relative;
	padding: 0 35px;
	background: #34444C;
	margin-bottom: 1.6rem;
}

.title {
	margin: auto auto;
	height: 4rem;
}

.title h1 {
	margin: auto auto;
	font-size: 24px;
	text-align: center;
	font-weight: lighter;
	color: white;
}

.navbar {
	width: 100%;
	height: 75px;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .hamburger {
	color: #FFFFFF;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

/* Downdown Menu */
.dropdown-menu {
	z-index: 98;
	position: absolute;
	right: 2rem;
	top: 60px;
	height: 0px;
	width: 300px;
	background: #598094;
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
	height: 270px;
}

.dropdown-menu li {
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.dropdown-menu .hamburger {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* Responsive CSS */
@media(max-width: 992px) {
	.navbar .links,
	.navbar .loginbtn {
		display: none;
	}
	
	.navbar .hamburger {
		display: block;
	}
	
	.dropdown-menu {
		display: block;
	}
}
	
@media(max-width: 576px) {
	header {
		height: 15%;
	}
	
	
	.dropdown-menu {
		left: 2rem;
		width: unset;
	}
}
